{% include 'public/layout/index.html.twig' %}
{% block title %}
    Правила проекта
{% endblock %}
{% block body %}
    {% include 'public/components/header.detail.html.twig' with {pageTitle: 'Правила'} %}

    <div id="blog" class="section">
        <div class="container">
            <div class="row">
                <main id="main" class="col-md-12">
                    <div class="blog">
                        <div class="blog-content">

                            <div class="tabset">
                                <!-- Tab 1 -->
                                <input type="radio" name="tabset" id="tab1" aria-controls="main_rules" checked>
                                <label for="tab1">
                                    Общие положения
                                </label>
                                <!-- Tab 2 -->
                                <input type="radio" name="tabset" id="tab2" aria-controls="game_rules">
                                <label for="tab2">
                                    Игровые правила
                                </label>
                                <!-- Tab 3 -->
                                <input type="radio" name="tabset" id="tab3" aria-controls="curator_rules">
                                <label for="tab3">
                                    Права и обязанности персонала
                                </label>

                                <div class="tab-panels">
                                    <section id="main_rules" class="tab-panel">
                                        <h3>1.1 Общие положения</h3>
                                        <ul class="left-num-list">
                                            <li id="r1_1_1">
                                                <div>
                                                    <a href="#r1_1_1">1.1.1.</a>
                                                </div>
                                                <div>
                                                    Регистрируя аккаунт на ресурсах <b>UCRAFTS.NET</b> (далее - Проект), Вы подтверждаете свою ознакомленность и полное согласие с настоящим сводом правил.
                                                    <p>
                                                        Администрация имеет право изменять любой пункт правил, предупреждая пользователей за сутки до вступления изменений в силу.
                                                    </p>
                                                </div>
                                            </li>
                                            <li id="r1_1_2">
                                                <div>
                                                    <a href="#r1_1_2">1.1.2.</a>
                                                </div>
                                                <div>
                                                    Только Вы несёте ответственность за безопасность своего аккаунта и обязуетесь соблюдать все надлежащие меры безопасности.
                                                    <p>
                                                        Если Вас взломали, Администрация не может гарантировать восстановление доступа к аккаунту.
                                                        Ответственность за аккаунт всегда несёт владелец аккаунта. Независимо от того, кто совершал действия под данным аккаунтом.<br/>
                                                        Администрация не возмещает ущерб, нанесённый пользователями, получившими доступ к Вашему аккаунту.
                                                    </p>
                                                </div>
                                            </li>
                                            <li id="r1_1_3">
                                                <div>
                                                    <a href="#r1_1_3">1.1.3.</a>
                                                </div>
                                                <div>
                                                    Проект вправе собирать и хранить технические данные пользователя в целях улучшения и анализа.
                                                    <p>Адрес электронной почты, IP и техническую информацию об устройствах.</p>
                                                </div>
                                            </li>
                                            <li id="r1_1_4">
                                                <div>
                                                    <a href="#r1_1_4">1.1.4.</a>
                                                </div>
                                                <div>
                                                    <b>Молчанка, мут</b> - ограничение возможности отправки сообщений в чат.
                                                    <br/><b>Бан</b> - ограничение возможности использования ресурсов Проекта.
                                                    <br/><b>ПБ</b> - перманентный (бесконечный) бан.
                                                </div>
                                            </li>
                                            <li id="r1_1_5">
                                                <div>
                                                    <a href="#r1_1_5">1.1.5.</a>
                                                </div>
                                                <div>
                                                    Администрацией Проекта считаются лица, находящиеся на должности администратора, куратора и главного модератора.
                                                    </br>Персоналом Проекта являются модераторы, помощники и строители.
                                                </div>
                                            </li>
                                            <li id="r1_1_6">
                                                <div>
                                                    <a href="#r1_1_6">1.1.6.</a>
                                                </div>
                                                <div>
                                                    Персонал (за исключением строителей) имеет право вмешиваться в игровой процесс и действовать по ситуации, если сочтёт это необходимым.
                                                    <p>
                                                        В спорных ситуациях последнее слово остаётся за Администрацией Проекта.
                                                    </p>
                                                </div>
                                            </li>
                                            <li id="r1_1_7">
                                                <div>
                                                    <a href="#r1_1_7">1.1.7.</a>
                                                </div>
                                                <div>
                                                    Любая продажа, покупка или передача аккаунтов запрещена.
                                                    <p>Если Вы хотите передать своё имущество другому лицу, то он должен зарегистрировать собственный аккаунт.</p>
                                                    <p class="punishment"><b>Наказание:</b> ПБ</p>
                                                </div>
                                            </li>
                                            <li id="r1_1_8">
                                                <div>
                                                    <a href="#r1_1_8">1.1.8.</a>
                                                </div>
                                                <div>
                                                    Проект ориентирован только на русскоязычную аудиторию. Публичное общение (глобальный, локальный и торговый чаты) происходит только на русском языке.
                                                    <p>В личной переписке Вы можете общаться на любом языке, который удобен Вам и Вашему собеседнику.</p>
                                                </div>
                                            </li>
                                            <li id="r1_1_9">
                                                <div>
                                                    <a href="#r1_1_9">1.1.9.</a>
                                                </div>
                                                <div>
                                                    Жалоба на Персонал рассматривается только в том случае, если она была подана в течении 30 дней с момента выдачи наказания.
                                                    <p>Доказательства хранятся в течении определённого времени. По истечении срока жалоба будет закрыта без рассмотрения.</p>
                                                </div>
                                            </li>
                                            <li id="r1_1_10">
                                                <div>
                                                    <a href="#r1_1_10">1.1.10.</a>
                                                </div>
                                                <div>
                                                    В случае нарушения правил под наказание попадают и соучастники виновного.
                                                </div>
                                            </li>
                                            <li id="r1_1_11">
                                                <div>
                                                    <a href="#r1_1_11">1.1.11.</a>
                                                </div>
                                                <div>
                                                    Запрещена любая попытка обхода наказания.
                                                    <p>Мультиаккаунты не запрещены, но их использование для обхода наказания приведет к блокировке всех остальных.</p>
                                                </div>
                                            </li>
                                            <li id="r1_1_12">
                                                <div>
                                                    <a href="#r1_1_12">1.1.12.</a>
                                                </div>
                                                <div>
                                                    Администрация и Персонал Проекта ни при каких обстоятельствах не обязаны возвращать игрокам ресурсы, игровую валюту, имущество, утраченные в ходе обмана, гриферства, отката, бага, читерства или взлома.
                                                </div>
                                            </li>
                                            <li id="r1_1_13">
                                                <div>
                                                    <a href="#r1_1_13">1.1.13.</a>
                                                </div>
                                                <div>
                                                    Запрещается намеренно дезинформировать и (или) вводить в заблуждение Администрацию и Персонал Проекта для получения какой-либо выгоды.
                                                    <p class="punishment"><b>Наказание:</b> бан от 7 дней до ПБ.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </section>
                                    <section id="game_rules" class="tab-panel">
                                        <h3>2.1 Игровые правила</h3>
                                        <ul class="left-num-list">
                                            <li id="r2_1_1">
                                                <div>
                                                    <a href="#r2_1_1">2.1.1.</a>
                                                </div>
                                                <div>
                                                    Запрещено использование, хранение, распространение, упоминание стороннего программного обеспечения (ПО; далее - читы).
                                                    <p class="punishment"><b>Наказание:</b> бан от 1 дня до ПБ.</p>
                                                </div>
                                            </li>
                                            <li id="r2_1_2">
                                                <div>
                                                    <a href="#r2_1_2">2.1.2.</a>
                                                </div>
                                                <div>
                                                    Запрещено использовать "лазейки" сервера; самой игры (багоюзить).
                                                    <p class="punishment"><b>Наказание:</b> бан на 7 дней.</p>
                                                </div>
                                            </li>
                                            <li id="r2_1_3">
                                                <div>
                                                    <a href="#r2_1_3">2.1.3.</a>
                                                </div>
                                                <div>
                                                    Запрещён обман игроков, гриферство (создание условий для нечестного убийства игрока; вред чужому привату). Запрещены телепортация игроков к себе или изменение привата территории с целью убийства.
                                                    <p class="punishment"><b>Наказание:</b> бан от 7 до 21 дня.</p>
                                                </div>
                                            </li>
                                            <li id="r2_1_4">
                                                <div>
                                                    <a href="#r2_1_4">2.1.4.</a>
                                                </div>
                                                <div>
                                                    Запрещено возведение бессмысленных, аморальных, асоциальных, нагружающих сервер построек.
                                                    <p>Возведение столбов, умышленная порча игрового мира и т.п.</p>
                                                    <p class="punishment"><b>Наказание:</b> бан от 3 дней до ПБ.</p>
                                                </div>
                                            </li>
                                            <li id="r2_1_5">
                                                <div>
                                                    <a href="#r2_1_5">2.1.5.</a>
                                                </div>
                                                <div>
                                                    Запрещено мешать игроку, находясь в его регионе. Если владелец территории или Персонал сервера попросили Вас покинуть территорию - Вы обязаны подчиниться этому.
                                                    <p class="punishment"><b>Наказание:</b> телепортирование на спавн, бан на 30 минут.</p>
                                                </div>
                                            </li>
                                            <li id="r2_1_6">
                                                <div>
                                                    <a href="#r2_1_6">2.1.6.</a>
                                                </div>
                                                <div>
                                                    Запрещается блокировать (в том числе приватить) сооружения, которые являются частью игрового процесса.
                                                    <p>Под сооружениями понимаются постройки, созданные генератором мира, которые игрок не способен воссоздать вручную.</p>
                                                    <p class="punishment"><b>Наказание:</b> бан на 3 дня.</p>
                                                </div>
                                            </li>
                                            <li id="r2_1_7">
                                                <div>
                                                    <a href="#r2_1_7">2.1.7.</a>
                                                </div>
                                                <div>
                                                    Незавершённые и разрушенные постройки могут подлежать сносу, а приват (если имеется) - удалению. Также приват территории может быть удалён, если на нём ничего нет, как минимум, 15 дней.
                                                    <p>
                                                        Если ведутся строительные или восстановительные работы, на территории постройки на видном месте должна стоять табличка, оповещающая об этом. Работы могут проводиться не более 15 дней. В противном случае постройка будет снесена.
                                                        <br><br>Вы можете использовать данное правило, чтобы пожаловаться на регион соседа, если он Вам мешает.
                                                    </p>
                                                </div>
                                            </li>
                                            <li id="r2_1_8">
                                                <div>
                                                    <a href="#r2_1_8">2.1.8.</a>
                                                </div>
                                                <div>
                                                    Запрещена помеха во время проведения ивента (мероприятия).
                                                    <p>Данное правило распространяется лишь на те ивенты, в которых присутствует Администрация Проекта.</p>
                                                    <p class="punishment"><b>Наказание:</b> бан от 1 дня до ПБ.</p>
                                                </div>
                                            </li>
                                            <li id="r2_1_9">
                                                <div>
                                                    <a href="#r2_1_9">2.1.9.</a>
                                                </div>
                                                <div>
                                                    Запрещена установка аморальных или асоциальных скинов/плащей.
                                                    <p>Порнографического, эротического, непристойного или нацистского содержания (NSFW).</p>
                                                    <p class="punishment"><b>Наказание:</b> бан на 3 дня.</p>
                                                </div>
                                            </li>
                                            <li id="r2_1_10">
                                                <div>
                                                    <a href="#r2_1_10">2.1.10.</a>
                                                </div>
                                                <div>
                                                    Запрещены установка и использование модификаций клиента, дающих преимущество над другими игроками.
                                                    <p class="punishment"><b>Наказание:</b> бан на 20 дней.</p>
                                                </div>
                                            </li>
                                            <li id="r2_1_11">
                                                <div>
                                                    <a href="#r2_1_11">2.1.11.</a>
                                                </div>
                                                <div>
                                                    Запрещена продажа/покупка игровых ценностей и услуг за реальные деньги.
                                                    <p>К ответственности будет привлечён как продавец, так и покупатель.</p>
                                                    <p class="punishment"><b>Наказание:</b> ПБ.</p>
                                                </div>
                                            </li>
                                            <li id="r2_1_12">
                                                <div>
                                                    <a href="#r2_1_12">2.1.12.</a>
                                                </div>
                                                <div>
                                                    Ваш никнейм не должен содержать нецензурных слов, мата, оскорблений игроков, оскорбления Проекта.
                                                    <p>Запрещены ники, которые намекают на принадлежность игрока к Администрации и (или) Персонала проекта.
                                                    <p class="punishment"><b>Наказание:</b> ПБ.</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <hr/>
                                        <h3>2.2 Текстовые сообщения и чат</h3>
                                        <ul class="left-num-list">
                                            <li id="r2_2_1">
                                                <div>
                                                    <a href="#r2_2_1">2.2.1.</a>
                                                </div>
                                                <div>
                                                    Запрещено использование ненормативной лексики (мат, в том числе завуалированный); оскорблять кого-либо; унижать честь и достоинство; поднимать темы откровенно сексуального характера.
                                                    <p>Это правило касается не только чата, но и всех средств, позволяющих передать другим игрокам сообщение: таблички, книги, сообщения при входе в регион и др.</p>
                                                    <p class="punishment"><b>Наказание:</b> мут от 30 минут до бана на 14 дней.</p>
                                                </div>
                                            </li>
                                            <li id="r2_2_2">
                                                <div>
                                                    <a href="#r2_2_2">2.2.2.</a>
                                                </div>
                                                <div>
                                                    Запрещён спам (рекламные ссылки и т.п.) и флуд (бессмысленные сообщения), в том числе частая отправка одинаковых сообщений как от клиента, так и от лица сервера.
                                                    <p>Сюда входит и реклама своих услуг, и частые запросы на телепортацию к игрокам. Подобные сообщения стоит отправлять раз в 3 минуты.</p>
                                                    <p class="punishment"><b>Наказание:</b> мут от 30 минут до бана на 6 часов.</p>
                                                </div>
                                            </li>
                                            <li id="r2_2_3">
                                                <div>
                                                    <a href="#r2_2_3">2.2.3.</a>
                                                </div>
                                                <div>
                                                    Запрещено обсуждение спорных политических ситуаций, конфликтов. Запрещается разжигать межнациональную рознь.
                                                    <p>Это правило касается не только чата, но и всех средств, позволяющих передать другим игрокам сообщение: таблички, книги, сообщения при входе в регион и др.</p>
                                                    <p class="punishment"><b>Наказание:</b> бан от 6 часов до 7 дней.</p>
                                                </div>
                                            </li>
                                            <li id="r2_2_4">
                                                <div>
                                                    <a href="#r2_2_4">2.2.4.</a>
                                                </div>
                                                <div>
                                                    Запрещены шантаж, вымогательства, угрозы, а также разглашения личных данных игроков.
                                                    <p class="punishment"><b>Наказание:</b> мут от 1 часа до ПБ.</p>
                                                </div>
                                            </li>
                                            <li id="r2_2_5">
                                                <div>
                                                    <a href="#r2_2_5">2.2.5.</a>
                                                </div>
                                                <div>
                                                    Запрещены провокации как игроков, так и Персонала.
                                                    <p class="punishment"><b>Наказание:</b> мут от 1 часа до бана на 10 дней.</p>
                                                </div>
                                            </li>
                                            <li id="r2_2_6">
                                                <div>
                                                    <a href="#r2_2_6">2.2.6.</a>
                                                </div>
                                                <div>
                                                    Запрещено упоминание запрещённых на территории РФ наркотических веществ; группировок.
                                                    <p class="punishment"><b>Наказание:</b> мут от 1 часа до бана на 10 дней.</p>
                                                </div>
                                            </li>
                                            <li id="r2_2_7">
                                                <div>
                                                    <a href="#r2_2_7">2.2.7.</a>
                                                </div>
                                                <div>
                                                    Запрещены сообщения, являющиеся рекламой или скрытой рекламой чего-либо.
                                                    <p>Обсуждать другие проекты разрешено. Зазывать на них - запрещено.</p>
                                                    <p class="punishment"><b>Наказание:</b> ПБ.</p>
                                                </div>
                                            </li>
                                            <li id="r2_2_8">
                                                <div>
                                                    <a href="#r2_2_8">2.2.8.</a>
                                                </div>
                                                <div>
                                                    Запрещено оскорблять сервер и его Администрацию, в том числе Персонал.
                                                    <p class="punishment"><b>Наказание:</b> бан от 7 дней до ПБ.</p>
                                                </div>
                                            </li>
                                            <li id="r2_2_9">
                                                <div>
                                                    <a href="#r2_2_9">2.2.9.</a>
                                                </div>
                                                <div>
                                                    При подаче заявки на должность, в пункте "Прочитали ли Вы правила Проекта?" напишите "Обещаю быть непредвзятым по отношению к игрокам".
                                                    <p>Если Вы не напишите эту фразу, то автоматически получите отказ.</p>
                                                </div>
                                            </li>
                                            <li id="r2_2_10">
                                                <div>
                                                    <a href="#r2_2_10">2.2.10.</a>
                                                </div>
                                                <div>
                                                    Запрещены оскорбления родных в любой форме.
                                                    <p class="punishment"><b>Наказание:</b> бан на 10 дней.</p>
                                                </div>
                                            </li>
                                            <li id="r2_2_11">
                                                <div>
                                                    <a href="#r2_2_11">2.2.11.</a>
                                                </div>
                                                <div>
                                                    Запрещены сообщения в верхнем регистре (CAPS LOCK).
                                                    <p>Капсом считается сообщение от 4-ёх слов, написанных в верхнем регистре.</p>
                                                    <p class="punishment"><b>Наказание:</b> мут от 30 минут до 6 часов.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </section>
                                    <section id="curator_rules" class="tab-panel">
                                        <h3>3.1 Права и обязанности Персонала</h3>
                                        <ul class="left-num-list">
                                            <li id="r3_1_1">
                                                <div>
                                                    <a href="#r3_1_1">3.1.1.</a>
                                                </div>
                                                <div>
                                                    Независимо от своей должности, член команды Проекта обязан быть общительным, грамотным, воспитанным и толерантным по отношению ко всем игрокам сервера; обязан соблюдать речевые нормы при общении с игроками.
                                                    <p>Игроку, в свою очередь, тоже следует быть воспитанным, если он хочет заслужить внимания со стороны Персонала.</p>
                                                </div>
                                            </li>
                                            <li id="r3_1_2">
                                                <div>
                                                    <a href="#r3_1_2">3.1.2.</a>
                                                </div>
                                                <div>
                                                    Член команды не имеет права отменять, корректировать срок действия наказаний, выданный другими членами команды.
                                                    <p>Это может делать только сам член команды, выдавший наказание. Наказания, выданные членами команды, изменять могут либо Главные модераторы, Кураторы и Администраторы, либо другие, но только с полученного разрешения от Администрации.</p>
                                                </div>
                                            </li>
                                            <li id="r3_1_3">
                                                <div>
                                                    <a href="#r3_1_3">3.1.3.</a>
                                                </div>
                                                <div>
                                                    При выдаче наказания игроку член команды обязан делать скриншоты и другие доказательства нарушения игрока.
                                                    <p>Если член команды рассматривал жалобу, в которой есть доказательства, то их делать не требуется - жалоба и есть доказательство.</p>
                                                </div>
                                            </li>
                                            <li id="r3_1_4">
                                                <div>
                                                    <a href="#r3_1_4">3.1.4.</a>
                                                </div>
                                                <div>
                                                    Член команды обязан рассматривать жалобы на игроков, контролировать игровой процесс и вовремя предотвращать различные инциденты, которые могут повлечь за собой нарушение всего свода правил сервера.
                                                    <p>Член команды не должен осуществлять вам помощь по игре (строительство, ресурсы и т.п.) - это не входит в его обязанности.</p>
                                                </div>
                                            </li>
                                            <li id="r3_1_5">
                                                <div>
                                                    <a href="#r3_1_5">3.1.5.</a>
                                                </div>
                                                <div>
                                                    Член команды обязан указывать сноску на соответствующий пункт данных правил при их исполнении.
                                                    <p>При выдаче наказания игроку член команды должен указать в причине номер пункта настоящих правил и его краткое пояснение (пример: "2.2.1 [Мат]").</p>
                                                </div>
                                            </li>
                                            <li id="r3_1_6">
                                                <div>
                                                    <a href="#r3_1_6">3.1.6.</a>
                                                </div>
                                                <div>
                                                    Персонал не имеет права злоупотреблять своими правами в пользу себя, друзей или третьих лиц.
                                                    <p>Сокрытие нарушения игрока от Администрации является нарушением. Член команды должен его либо наказать, либо самостоятельно устранить нарушение. Нельзя использовать собственные привилегии для открытия возможностей, недоступных обычным игрокам (установка специальных флагов региона, варпов; выдача вещей из платных наборов и др.).</p>
                                                </div>
                                            </li>
                                            <li id="r3_1_7">
                                                <div>
                                                    <a href="#r3_1_7">3.1.7.</a>
                                                </div>
                                                <div>
                                                    Член команды может быть снят с поста, если отсутствовал по неуважительной причине более установленного Администрацией определённого срока.
                                                    <p>Нормы для Персонала:
                                                        <br>Помощник - 14 дней;
                                                        <br>Модератор - 7 дней.</p>
                                                </div>
                                            </li>
                                            <li id="r3_1_8">
                                                <div>
                                                    <a href="#r3_1_8">3.1.8.</a>
                                                </div>
                                                <div>
                                                    Персонал обязан соблюдать все требования безопасности для защиты своего аккаунта и не допускать получение к нему доступа посторонних лиц.
                                                    <p>В случае взлома аккаунта член команды может быть снят с должности.</p>
                                                </div>
                                            </li>
                                            <li id="r3_1_9">
                                                <div>
                                                    <a href="#r3_1_9">3.1.9.</a>
                                                </div>
                                                <div>
                                                    Персонал имеет право выйти за временные рамки наказания только в том случае, если игрок является рецидивистом и неоднократно нарушал данное правило на сервере ранее.
                                                    <p>Исключительно в случае согласования с Администрацией Проекта.</p>
                                                </div>
                                            </li>
                                            <li id="r3_1_10">
                                                <div>
                                                    <a href="#r3_1_10">3.1.10.</a>
                                                </div>
                                                <div>
                                                    Персонал не имеет права распространять информацию, полученную им из модераторских конференций.
                                                </div>
                                            </li>
                                            <li id="r3_1_11">
                                                <div>
                                                    <a href="#r3_1_11">3.1.11.</a>
                                                </div>
                                                <div>
                                                    Зона ответственности и работы Персонала - ресурсы Проекта. В рамках личного пространства (ВК, Телеграм, почта и т.п.) Персонал не обязан Вам помогать, рассматривать жалобы и т.п.
                                                </div>
                                            </li>
                                            <li id="r3_1_12">
                                                <div>
                                                    <a href="#r3_1_12">3.1.12.</a>
                                                </div>
                                                <div>
                                                    Персонал не имеет права без крайней необходимости применять наказания для других членов команды.
                                                    <p>Например: если член команды устроил перебан/перемут, то в этом случае Персонал может воспользоваться данным правилом.</p>
                                                </div>
                                            </li>
                                            <li id="r3_1_13">
                                                <div>
                                                    <a href="#r3_1_13">3.1.13.</a>
                                                </div>
                                                <div>
                                                    Член команды обязан Вам помочь (в разумных рамках), но только при ясно описанной проблеме и при обращении напрямую (желательно через ЛС).
                                                    <p>Учитывайте, что член команды может быть АФК (отойти от компьютера, находясь в игре). В этом случае Вас могут проигнорировать. Не стоит подавать жалобу на Персонал, если есть явные признаки АФК.</p>
                                                </div>
                                            </li>
                                            <li id="r3_1_15">
                                                <div>
                                                    <a href="#r3_1_15">3.1.15.</a>
                                                </div>
                                                <div>
                                                    Член команды имеет право находиться с Вами, смотреть Ваши ресурсы, а также изымать подозрительные, по его мнению, вещи.
                                                </div>
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>

                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
{% endblock %}