<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>YOUCRAFTS.RU - Твой сервер Minecraft</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

    {% block stylesheets %}
        {{ encore_entry_link_tags('public') }}
    {% endblock %}
</head>
<body>
{% include 'public/components/header.detail.html.twig' with {pageTitle: 'Полезная информация'} %}

<div id="blog" class="section">
    <div class="container">
        <div class="row">
            <main id="main" class="col-md-12 sm-padding">
                <div class="blog">
                    <div class="blog-content">
                        <style>
                            .link-block-grid {
                                display: -webkit-flex;
                                display: flex;
                                -webkit-justify-content: space-between;
                                justify-content: space-between;
                                -webkit-flex-flow: row wrap;
                                flex-flow: row wrap;
                                width: 100%;
                                transition: all .3s ease;
                            }

                            .link-block-grid .link-block {
                                display: block;
                                max-width: calc(33% - 20px);
                                -webkit-flex: 1 1 calc(33% - 20px);
                                flex: 1 1 calc(33% - 20px);
                                margin-bottom: 30px;
                            }

                            .link-block {
                                display: block;
                                position: relative;
                                min-height: 133px;
                                border-radius: 4px;
                                padding: 27px 32px;
                                transition: all .4s ease;
                                background: #f4f7fb;
                                overflow: hidden;
                                box-shadow: 0px 2px 5px 0px #00000021;
                            }

                            .link-block__title {
                                font-size: 18px;
                                line-height: 24px;
                                font-weight: 500;
                                color: #3b4256;
                            }

                            .link-block__text {
                                color: #848e99;
                                font-size: 14px;
                                line-height: 20px;
                                margin-top: 8px;
                            }
                        </style>
                        <div class="link-block-grid ">
                            <a class="link-block" href="#" title="">
                                <div class="link-block__title">Структура Министерства</div>
                                <div class="link-block__text">Руководство, департаменты и подразделения</div>
                            </a>
                            <a class="link-block" href="#" title="">
                                <div class="link-block__title">Структура Министерства</div>
                                <div class="link-block__text">Руководство, департаменты и подразделения</div>
                            </a>
                            <a class="link-block" href="#" title="">
                                <div class="link-block__title">Структура Министерства</div>
                                <div class="link-block__text">Руководство, департаменты и подразделения</div>
                            </a>
                            <a class="link-block" href="#" title="">
                                <div class="link-block__title">Структура Министерства</div>
                                <div class="link-block__text">Руководство, департаменты и подразделения</div>
                            </a>
                            <a class="link-block" href="#" title="">
                                <div class="link-block__title">Структура Министерства</div>
                                <div class="link-block__text">Руководство, департаменты и подразделения</div>
                            </a>
                            <a class="link-block" href="#" title="">
                                <div class="link-block__title">Структура Министерства</div>
                                <div class="link-block__text">Руководство, департаменты и подразделения</div>
                            </a>
                            <a class="link-block" href="#" title="">
                                <div class="link-block__title">Структура Министерства</div>
                                <div class="link-block__text">Руководство, департаменты и подразделения</div>
                            </a>
                            <a class="link-block" href="#" title="">
                                <div class="link-block__title">Структура Министерства</div>
                                <div class="link-block__text">Руководство, департаменты и подразделения</div>
                            </a>
                            <a class="link-block" href="#" title="">
                                <div class="link-block__title">Структура Министерства</div>
                                <div class="link-block__text">Руководство, департаменты и подразделения</div>
                            </a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

{% include 'public/components/footer.html.twig' %}

<div id="back-to-top"></div>
<div id="preloader">
    <div class="preloader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('public') }}

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
{% endblock %}
</body>
</html>
