<footer id="footer" class="sm-padding bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-logo">
                    <a href="/"><img src="/build/img/logo-alt.svg" alt="logo"></a>
                </div>
                <ul class="footer-follow">
                    <li><a href="https://vk.com/youcraftsru"><i class="fa fa-vk"></i></a></li>
                    <li><a href="https://discord.gg/JAQpeG"><i class="fa fa-commenting"></i></a></li>
                </ul>
                <div class="footer-copyright">
                    <p>© {{ 'now'|date('Y') }}. Мы предоставляем ознакомительный бесплатный вариант игры Minecraft
                        купить лицензионную версию игры можно <a href="https://minecraft.net" target="_blank">здесь</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>