<header id="home">
    <div class="bg-img" style="background-image: url('/build/img/bg.jpg');">
        <div class="overlay"></div>
    </div>
    <nav id="nav" class="navbar-homepage nav-transparent">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a href="/">
                        <img class="logo" src="/build/img/logo_dark.png" alt="logo">
                        <img class="logo-alt" src="/build/img/logo.png" alt="logo">
                    </a>
                </div>
                <div class="nav-collapse">
                    <span></span>
                </div>
            </div>
            <ul class="main-nav nav navbar-nav navbar-right">
                {{ widget('nav_menu') }}
            </ul>
        </div>
    </nav>
    <div class="home-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="home-content">
                        <h1 class="white-text">UCRAFTS.NET</h1>
                        <div>
                            <p class="white-text">
                                Адаптированная карта страны, значимые исторические объекты, системы рангов, экономика, квесты и многое другое!
                                <br/><strong>Настоящая виртуальная Россия</strong>
                            </p>
                        </div>
                        <div style="margin-top: 50px;">
                            <button class="ip-btn" data-ip="go.youcrafts.ru" data-toggle="tooltip" data-placement="bottom" title="IP скопирован в буфер обмена">
                                <div>IP адрес сервера</div>
                                <div>go.youcrafts.ru</div>
                            </button>
                        </div>
                        <div>
                            <p style="color: white; opacity: .7; margin-top: 20px; font-size: 12px">
                                Доступно как для <b>JavaEdition</b> так и для <b>PocketEdition</b> версий!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>