{% extends 'public/layout/index.html.twig' %}
{% block body %}
    {% include 'public/layout/header.detail.html.twig' with {pageTitle: 'Рейтинг по времени игры'} %}

    <div id="blog" class="section">
        <div class="container">
            <div class="row">
                <main id="main" class="col-md-12">
                    <div class="blog">
                        <div class="blog-content">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr align="center">
                                    <td><strong>#</strong></td>
                                    <td><strong>Игрок</strong></td>
                                    <td><strong>Наиграно</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                {% if list is not empty %}
                                    {% for player in list %}
                                        <tr>
                                            {% if loop.index == 1 %}
                                                <td align="center"><img width="32px" src="/build/img/icons/diamond.png"/></td>
                                            {% elseif loop.index == 2 %}
                                                <td align="center"><img width="32px" src="/build/img/icons/gold.png"/></td>
                                            {% elseif loop.index == 3 %}
                                                <td align="center"><img width="32px" src="/build/img/icons/iron.png"/></td>
                                            {% else %}
                                                <td align="center">{{ loop.index }}</td>
                                            {% endif %}
                                            <td>
                                                <img width="32px" src="/build/img/icons/steave_head.png"/>
                                                {{ player['realname'] }}
                                            </td>
                                            <td>{{ player['play_time'] }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="3">Список пуст :(</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
{% endblock %}