{#					<li><a href="#home">Правила</a></li>#}
                {#					<li><a href="#hom1e">Бан-лист</a></li>#}
<li><a href="/#about">О нас</a></li>
<li><a href="/p/rules">Правила</a></li>
{#<li><a href="/p/map">Онлайн карта</a></li>#}
{#					<li><a href="#about">Карта сервера</a></li>#}
                {#					<li><a href="#portfolio">Помощь</a></li>#}
<li class="has-dropdown"><a href="#">Контакты</a>
    <ul class="dropdown">
        <li><a href="https://vk.com/youcraftsru" target="_blank">Группа VK</a></li>
        <li><a href="https://discord.gg/MstMCDg" target="_blank">Канал Discord</a></li>
    </ul>
</li>