{#					<li><a href="#home">Правила</a></li>#}
                {#					<li><a href="#hom1e">Бан-лист</a></li>#}
<li><a href="/#about">О нас</a></li>
<li><a href="/p/rules">Правила</a></li>
{#<li><a href="/p/map">Онлайн карта</a></li>#}
{#					<li><a href="#about">Карта сервера</a></li>#}
                {#					<li><a href="#portfolio">Помощь</a></li>#}
<li class="has-dropdown"><a href="#">Рейтинги</a>
    <ul class="dropdown">
        <li><a href="{{ path('ratings', {type: 'playtime'}) }}" target="_blank">Время игры</a></li>
    </ul>
</li>
<li class="has-dropdown"><a href="#">Информация</a>
    <ul class="dropdown">
        <li><a href="{{ path('team') }}" target="_blank">Команда проекта</a></li>
    </ul>
</li>
<li class="has-dropdown"><a href="#">Контакты</a>
    <ul class="dropdown">
        <li><a href="https://vk.com/youcraftsru" target="_blank">Группа VK</a></li>
        <li><a href="https://discord.gg/q3DG3xfs27" target="_blank">Канал Discord</a></li>
        <li><a href="https://github.com/UCRAFTS" target="_blank">GitHub</a></li>
    </ul>
</li>