<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/build/img/icon.svg">
	<title>UCRAFTS.NET - Твой сервер Minecraft</title>

	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

	{% block stylesheets %}
		{{ encore_entry_link_tags('public') }}
	{% endblock %}
</head>
<body>
	{% include 'public/components/header.html.twig' %}

	{{ widget('monitoring') }}

	{% include 'public/blocks/about.html.twig' %}
	{% include 'public/components/footer.html.twig' %}

	<div id="back-to-top"></div>
	<div id="preloader">
		<div class="preloader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>

	{% block javascripts %}
		{{ encore_entry_script_tags('public') }}

		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	{% endblock %}
</body>
</html>
