<div id="about" class="section md-padding">
    <div class="container">
        <div class="row">
            <div class="section-header text-center">
                <h2 class="title">Почему наш сервер</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service">
                    <i class="fa fa-fort-awesome"></i>
                    <h3>Актуальные версии</h3>
                    <p>Сервер доступен для игры с версии 1.12.2 - по текущую актуальную</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service">
                    <i class="fa fa-globe"></i>
                    <h3>Все карта России</h3>
                    <p>Русский сервер с выживанием на адаптированной карте всей России внутри игры</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service">
                    <i class="fa fa-smile-o"></i>
                    <h3>Отсутствие доната</h3>
                    <p>Мы некоммерческий проект, только честная игра, без доната и платных услуг</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service">
                    <i class="fa fa-trophy"></i>
                    <h3>Система рангов</h3>
                    <p>Чем дольше Вы играете тем больше новых возможностей открывается для игры</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service">
                    <i class="fa fa-diamond"></i>
                    <h3>Культурная ценность</h3>
                    <p>Многие значимые исторические объекты воссозданы в игре и доступны для изучения</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service">
                    <i class="fa fa-magic"></i>
                    <h3>И не только</h3>
                    <p>Квесты, фракции, ивенты, новые крафты, игровые механики и многое другое</p>
                </div>
            </div>
        </div>
    </div>
</div>