<div id="numbers" class="section sm-padding">
    <div class="bg-img" style="background-image: url('https://assets.rockpapershotgun.com/images/2020/06/Sonic-Ethers-Unbelievable-Shaders.jpg');">
        <div class="overlay"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <div class="number">
                    <i class="fa fa-globe"></i>
                    <h3 class="white-text"><span class="counter">10</span></h3>
                    <span class="white-text">Текущий онлайн</span>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="number">
                    <i class="fa fa-star-half-o"></i>
                    <h3 class="white-text"><span class="counter">55</span></h3>
                    <span class="white-text">Рекорд за сегодня</span>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="number">
                    <i class="fa fa-star"></i>
                    <h3 class="white-text"><span class="counter">355</span></h3>
                    <span class="white-text">Рекорд за все время</span>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6">
                <div class="number">
                    <i class="fa fa-users"></i>
                    <h3 class="white-text"><span class="counter">1094</span></h3>
                    <span class="white-text">Всего зарегистрировано</span>
                </div>
            </div>
        </div>
    </div>
</div>