<div id="blog" class="section md-padding bg-grey">
    <div class="container">
        <div class="row">
            <div class="section-header text-center">
                <h2 class="title">Последние новости</h2>
            </div>
            <div class="col-md-4">
                <div class="blog">
                    <div class="blog-img">
                        <img class="img-responsive" src="https://cdn.mos.cms.futurecdn.net/qcwpmsck22hhpe7ApjnrrP-1200-80.png" alt="">
                    </div>
                    <div class="blog-content">
                        <ul class="blog-meta">
                            <li><i class="fa fa-user"></i>_oDD1</li>
                            <li><i class="fa fa-clock-o"></i>29 октября</li>
                        </ul>
                        <h3>Открытое альфа тестирование</h3>
                        <p>Уважаемые игроки, сервер переход в стадию открытого альфа-тестирования и ждет новых игроков!</p>
                        <a href="blog-single.html">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog">
                    <div class="blog-img">
                        <img class="img-responsive" src="https://cdn.mos.cms.futurecdn.net/qcwpmsck22hhpe7ApjnrrP-1200-80.png" alt="">
                    </div>
                    <div class="blog-content">
                        <ul class="blog-meta">
                            <li><i class="fa fa-user"></i>_oDD1</li>
                            <li><i class="fa fa-clock-o"></i>29 октября</li>
                        </ul>
                        <h3>Открытое альфа тестирование</h3>
                        <p>Уважаемые игроки, сервер переход в стадию открытого альфа-тестирования и ждет новых игроков!</p>
                        <a href="blog-single.html">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog">
                    <div class="blog-img">
                        <img class="img-responsive" src="https://cdn.mos.cms.futurecdn.net/qcwpmsck22hhpe7ApjnrrP-1200-80.png" alt="">
                    </div>
                    <div class="blog-content">
                        <ul class="blog-meta">
                            <li><i class="fa fa-user"></i>_oDD1</li>
                            <li><i class="fa fa-clock-o"></i>29 октября</li>
                        </ul>
                        <h3>Открытое альфа тестирование</h3>
                        <p>Уважаемые игроки, сервер переход в стадию открытого альфа-тестирования и ждет новых игроков!</p>
                        <a href="blog-single.html">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" align="center" style="margin-top: 50px; margin-bottom: -50px">
                <button class="main-btn">Больше новостей</button>
            </div>
        </div>
    </div>
</div>